body{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(#FEFEFE, #888888);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.titulo {
    font-size: 64px;
    text-align: center;
}
.segundoTitulo {
    font-size: 44px;
    text-align: center;
}

.caixa {
    width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.resposta-correta{
    display: inline-block;
    color: green;
	text-align: center;
	width: 300px;
    vertical-align: top;
    font-weight: bold;
    font-size: 26px;
    height: 250px;
	margin: 0 70px 0 auto;
	padding: 30px 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

.resposta-errada {
    display: inline-block;
    color: red;
    font-weight: bold;
    font-size: 26px;
	text-align: center;
    width: 300px;
    height: 250px;
	vertical-align: top;
	margin: 0 auto 0 100px;
	padding: 30px 20px;
	border: 2px solid #000000;
    border-radius: 10px;
    background-color: white;
}
